<div style="
padding:5px 15px;
max-width:800px;
margin:auto;

background-image:url('/images/top/f_top.png');
background-size:80%;
background-position:center center;
background-repeat:no-repeat;
">

<h1 style="
text-align:center;
margin:5px 0;
font-size:24px;
white-space:nowrap;
">
  PT 国試対策（1.2年生）
</h1>

問題数: <%= Question.count %>
<%= Rails.env %>


<p style="text-align:center; font-size:13px; color:#666; margin:2px 0;">
  <span style="color:#ff6600; font-weight:bold;">🆕</span>
  2026.06.03 骨イラスト追加
</p>

<p style="text-align:center; font-size:13px; color:#666; margin:2px 0;">
  <span style="color:#ff6600; font-weight:bold;">🆕</span>
  2026.06.02 神経血管イラスト追加
</p>



<h2 style="margin-top:3px; margin-bottom:6px; text-align:center; font-size:18px;">
  分野を選んでください
</h2>


<!-- 解剖 -->
<a href="/category?name=解剖学" style="text-decoration:none;">
  <div style="
    border: 1px solid #ccc;
    background: white;
    color: black;
    padding: 4px 10px;
    width:82%;
    white-space: nowrap;
    margin: 0 auto 4px auto;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
  ">
    🦴 解剖学
  </div>
</a>

<!-- 生理 -->
<a href="/category?name=生理学" style="text-decoration:none;">
  <div style="
    border: 1px solid #ccc;
    background: white;
    color: black;
    padding: 4px 8px;
    width:82%;
    white-space: nowrap;
    margin: 0 auto 4px auto;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
  ">
    🫀 生理学
  </div>
</a>

<!-- 運動 -->
<a href="/category?name=運動学" style="text-decoration:none;">
  <div style="
    border: 1px solid #ccc;
    background: white;
    color: black;
    padding: 4px 8px;
    width:82%;
    white-space: nowrap;
    margin: 0 auto 4px auto;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
  ">
    🏃 運動学
  </div>
</a>


<div id="analysis-box"
style="
margin-top:4px;
padding:8px;
background:rgba(240,248,255,0.78);
border-radius:20px;
text-align:center;
box-shadow:0 2px 8px rgba(0,0,0,0.06);
font-weight:bold;
line-height:1.4;
">
</div>

</div>

<script>
function goWrong(category) {
  const wrong = JSON.parse(localStorage.getItem("wrong")) || [];

 const currentQtype = "true_false";

  console.log(currentQtype);
  console.log(wrong);

const filtered = wrong.filter(q =>
  q.category === category &&
  q.qtype === currentQtype &&
  q.qtype !== "illustration"
).map(q => q.id);

  console.log(filtered);
  
 if (filtered.length === 0) {
  alert("苦手問題はありません");
  return;
}

window.location.href =
"/select?mode=wrong" +
"&ids=" + encodeURIComponent(filtered.join(",")) +
"&category=" + encodeURIComponent(category) +
"&qtype=" + encodeURIComponent(currentQtype) +
"&count=" + count +
"&index=0";
</script>

<script>
const wrong = JSON.parse(localStorage.getItem("wrong")) || [];

let anatomy = 0
let physiology = 0
let kinesiology = 0

let bone = 0
let muscle = 0
let nerve = 0
let organ = 0
let vessel = 0
let position = 0


wrong.forEach(q => {
  if (q.category === "解剖") anatomy++
  if (q.category === "生理") physiology++
  if (q.category === "運動") kinesiology++

  if (q.subcategory === "骨") bone++
  if (q.subcategory === "筋肉") muscle++
  if(q.subcategory === "神経") nerve++
  if(q.subcategory === "臓器") organ++
  if(q.subcategory === "血管") vessel++
  if(q.subcategory === "断面・位置関係") position++
})

document.getElementById("analysis-box").innerHTML = `
<h3 style="
font-size:20px;
margin-bottom:20px;
">
🔥 苦手問題分析
</h3>

<div style="
display:flex;
justify-content:space-around;
gap:10px;
margin-top:20px;
">

<a href="/anatomy_analysis"
style="
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:white;
padding:8px;
border-radius:6px;
margin-bottom:4px;
text-decoration:underline;
color:black;
font-size:16px;
font-weight:600;
box-shadow:none;
width:26%
">
🦴 解剖<br>${anatomy}問
</a>

<a href="/physiology_analysis"
style="
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:white;
padding:8px;
border-radius:6px;
margin-bottom:4px;
text-decoration:underline;
color:black;
font-size:16px;
font-weight:600;
box-shadow:none;
width:26%
">
🫀 生理<br>${physiology}問
</a>

<a href="/kinesiology_analysis"
style="
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:white;
padding:8px;
border-radius:6px;
margin-bottom:4px;
text-decoration:underline;
color:black;
font-size:16px;
font-weight:600;
box-shadow:none;
width:26%
">
🏃 運動<br>${kinesiology}問
</a>

</div>


<!-- 苦手問題（全範囲） -->
<a href="javascript:void(0)"
   onclick="goWrongAll()"
   style="text-decoration:none;">
  <div style="
    background:#ff6b6b;
    color:white;
    padding:10px;

    width:80%;
    max-width:700px;

    margin:10px auto 0 auto;

    text-align:center;
    border-radius:8px;
    font-weight:bold;
  ">
    🔥 苦手問題（全範囲）
  </div>
</a>
`;

console.log("OK")

function goWrongAll() {

  const wrong = JSON.parse(localStorage.getItem("wrong")) || [];

  const filtered = wrong.map(q => q.id);

  if (filtered.length === 0) {
  alert("苦手問題はありません");
  return;
}

  window.location.href =
    "/select?mode=wrong" +
    "&ids=" + encodeURIComponent(filtered.join(",")) +
    "&category=all";
}

</script>


<div style="
  margin-top: 20px;
  padding-top: 12px;
  border-top: 1px solid #ddd;
  text-align: center;
">

<%= link_to "📚 参考資料", "/materials",
  style: "color:#2e7d32; margin:0 8px; text-decoration:underline; font-weight:bold; font-size:18px;" %>

<%= link_to "🏅 図鑑", "/stamps",
  style: "color:#d4a017; margin:0 8px; text-decoration:underline; font-weight:bold; font-size:18px;" %>

<%= link_to "✉️ 問合せ", "/contact",
  style: "color:#777; margin:0 8px; text-decoration:underline; font-weight:bold; font-size:18px;" %>

</div>