<% if @question.qtype == "choice" %>

  <p style="color: red;">
    <%= @result %>！正解は <%= @question.answer %>
  </p>

  <div style="background:#e3f2fd; padding:10px; margin-top:10px;">
    <%= @question.explanation %>
  </div>

<% end %>


<% if @question.qtype == "true_false" %>

  <p style="color: red;">
    <%= @result %>！
  </p>

  <div style="background:#e3f2fd; padding:10px; margin-top:10px;">
    <%= @question.explanation %>
  </div>

<% end %>

<h2 id="score-text"></h2>


<script>
let wrong = JSON.parse(localStorage.getItem("wrong")) || []

const questionId = <%= @question.id %>

<% if @result.include?("不正解") %>

if (!wrong.some(q => q.id == questionId)) {
  wrong.push({
    id: questionId,
    category: "<%= @question.category %>",
    subcategory: "<%= @question.subcategory %>"
  })
}

<% else %>

wrong = wrong.filter(q => q.id != questionId)

<% end %>

localStorage.setItem("wrong", JSON.stringify(wrong))

const score = Number(localStorage.getItem("score")) || 0
const total = Number(localStorage.getItem("total")) || 0

const rate = total > 0
  ? Math.round((score / total) * 100)
  : 0

const scoreText = document.getElementById("score-text")

if (scoreText) {
  scoreText.innerHTML =
    score + " / " + total + "問 (" + rate + "%)"
}
</script>