<!DOCTYPE html>
<html>
  <head>
    <title>PhysioApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-turbo="false">

<%= yield %>

<% unless current_page?(root_path) || @finished %>



<% end %>

</body>
</html>
